.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap; /* Add wrap property to enable wrapping */
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  flex: 1 0 250px; /* Set height of one item to 250px */
  max-height: 250px; /* Set max-height to prevent items from exceeding 250px */
  cursor: pointer;
}

.featuredItem.large {
  flex: 1 0 325px; /* Set height of another item to 325px */
  max-height: 325px; /* Set max-height to prevent items from exceeding 325px */
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9; /* Add desired opacity value */
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Center align the titles */
}

.featuredTitles h1 {
  font-size: 35px;
}

.featuredTitles h2 {
  font-size: 17px;
}

.sectionHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
  margin-top: 30px;
}

.sectionHeading h1 {
  font-size: 28px;
}

.sectionHeading h2 {
  font-size: 18px;
  padding-top: 4px;
  color: #333;
  margin-bottom: 10px;
}
